@import "./utility/variables.scss";
@import "./utility/mixins.scss";
@import "./sections/sections.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font;
}

body {
  background-color: $violet;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: $violet;
  overflow-x: hidden;
}
